/*
html {
	background-color: #AFEEEE;
}

.main-content {
	text-align: center;
}

.button-group button {
	padding: 15px 30px;
	margin: 5px;
	width: 50%;
	border: none;
	border-radius: 10px;
	background-color: #6677cd;
	color: white;
	cursor: pointer;
	transition: background-color 0.5s ease;
}

.button-group button:hover {
	background-color: #73e1df;
	transition: background-color 0.5s ease;
}
*/

.jumbotron {
	text-align: center;
	background-color: #a7e5e5;
}

.row {
	text-align: center;
}

.container {
	background-color: #AFEEEE;
}

.button-group button {
	padding: 10px 30px;
	margin: 5px;
	width: 75%;
}
